---
import ThemeIcon from './ThemeIcon.astro'
---

<div class="navbar bg-base-100 shadow-sm fixed-top">
    <div class="navbar-start">
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-2">
            <li><a>Sobre mi</a></li>
            <li><a>Tecnologias</a></li>
            <li><a>Redes</a></li>
            <li><a>Contacto</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <ThemeIcon />
    </div>
</div>